<div class="non-login-forms">
  <main>
    <%= devise_error_messages! %>
    <h1 class="center">Resily</h1>
    <%= form_for(resource, html: { class: 'ui form' },  as: resource_name, url: confirmation_path(resource_name)) do |f| %>
      <div class="fields text-input-group">
        <%= f.hidden_field :confirmation_token, value: params[:confirmation_token] %>
        <div class="inline field">
          <div>パスワード</div>
          <div class="ui mini input">
            <%= f.password_field :password, placeholder: '英数字8文字以上', autocomplete: "off" %>
          </div>
        </div>
      </div>
      <div class="center">
        <%= f.submit "設定する", class: 'ui negative button' %>
      </div>
    <% end %>
  </main>
</div>