<p><%= t '.greeting', recipient: @resource.email %></p>

<p><%= t '.instruction' %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t '.instruction_2' %></p>
<p><%= t '.instruction_3' %></p>

<address>
  運営会社：Resily株式会社<br />
  <a href="https://www.resily.com">https://www.resily.com</a>
</address>
