<!DOCTYPE html>
<html>
<head>
  <title>Resily (β)</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('favicon.ico') %>

  <%= include_gon %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>
</html>
